{% extends "base.html" %}
{% block content %}

<div class="recipe-detail">
    <h1 class="recipe-title">{{ recipe.title }}</h1>
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-image">

    <div class="recipe-summary">
        <p><strong>Summary:</strong> {{ recipe.summary|safe }}</p>
    </div>

    <div class="recipe-info">
        <p><strong>Servings:</strong> {{ recipe.servings }}</p>
        <p><strong>Ready In:</strong> {{ recipe.readyInMinutes }} minutes</p>
        <p><strong>Vegetarian:</strong> {{ recipe.vegetarian|yesno:"Yes,No" }}</p>
        <p><strong>Vegan:</strong> {{ recipe.vegan|yesno:"Yes,No" }}</p>
        <p><strong>Gluten Free:</strong> {{ recipe.glutenFree|yesno:"Yes,No" }}</p>
        <p><strong>Dairy Free:</strong> {{ recipe.dairyFree|yesno:"Yes,No" }}</p>
        <p><strong>Low FODMAP:</strong> {{ recipe.lowFodmap|yesno:"Yes,No" }}</p>
        <p><strong>Healthy:</strong> {{ recipe.veryHealthy|yesno:"Yes,No" }}</p>
        <p><strong>Cheap:</strong> {{ recipe.cheap|yesno:"Yes,No" }}</p>
        <p><strong>Popular:</strong> {{ recipe.veryPopular|yesno:"Yes,No" }}</p>
        <p><strong>Sustainable:</strong> {{ recipe.sustainable|yesno:"Yes,No" }}</p>
        <p><strong>Weight Watcher Smart Points:</strong> {{ recipe.weightWatcherSmartPoints }}</p>
        <p><strong>Health Score:</strong> {{ recipe.healthScore }}%</p>
    </div>

    <div class="recipe-source">
        <p><strong>Source:</strong> <a href="{{ recipe.sourceUrl }}" target="_blank">{{ recipe.sourceName }}</a></p>
    </div>

    <h3 class="ingredients-title">Ingredients:</h3>
    <ul class="ingredients-list">
        {% for ingredient in recipe.extendedIngredients %}
            <li class="ingredient-item">{{ ingredient.original }}</li>
        {% endfor %}
    </ul>

    {% if recipe.instructions %}
        <h3 class="instructions-title">Instructions:</h3>
        {% if recipe.analyzedInstructions %}
            {% for instruction in recipe.analyzedInstructions %}
                {% for step in instruction.steps %}
                    <p class="instruction-step"><strong>Step {{ step.number }}:</strong> {{ step.step }}</p>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No instructions available.</p>
        {% endif %}
    {% endif %}

    <a href="{{ recipe.source_url }}" target="_blank" class="view-recipe-button">View full recipe</a>
</div>

<div class="save-recipe-container">
    <form action="{% url 'save_recipe' recipe.id %}" method="post" class="save-recipe-form">
        {% csrf_token %}
        <button type="submit" class="form-button">Save Recipe</button>
    </form>
</div>

{% endblock content %}
